# ===================================================================
# artellapipe-libs-drive requirements file
# ===================================================================
gspread
oauth2client
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
tpDcc-libs-python
artellapipe